@import '~bulma/sass/utilities/_all.sass';

$primary: blue;
$bg-color: #454f5a;

$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
  ('none', 0),
  ('xxs', 0.125),
  ('xs', 0.25),
  ('s', 0.5),
  ('m', 1),
  ('l', 2),
  ('xl', 4),
  ('xxl', 8)
);
$positions: (
  ('top', 'top'),
  ('right', 'right'),
  ('bottom', 'bottom'),
  ('left', 'left')
);

@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue);
  }
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue);
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
  }
}

body {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  height: 100vh;
}

.bg-item {
  background-color: $bg-color !important;
}

.is-centered-vertical {
  display: flex;
  align-items: center;
}

@import '~bulma';
